<a id='mypic'>
    <%=image_tag 'mypic.jpeg', :style => 'width:150px;height:100px;'%>
</a>
<script>

  $(function(){
    $("#mypic").bind('mouseover', function(){
       $(this).find('img').css({'width': '270px', 'height': '200px', 'transition': '0.5s'});
    });
    $("#mypic").bind('mouseout', function(){
          $(this).find('img').css({'width': '150px', 'height': '100px', 'transition': '0.5s'});
    });
  });
</script>
